.text-disabled {
  font-size: 11px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #8D8D8D;

  strong {
    font-style: italic;
  }
}

.text-center {
  text-align: center !important;
}